{% extends 'base.html' %}
{% load static %}

{% block style %}

.block1 {width:100%; height:calc(100vh - 125px); overflow:hidden; background-image:url({% static "img/bg2.jpg" %}); background-position:center; background-size:100% auto; position:relative;}
.b1text1 , .b1text2 , .b1text3 {color:white; text-transform:uppercase;}
.b1text1 {position:absolute; left:50px; top:100px; font-size:40px;}
.b1text2 {position:absolute; left:calc(50% - 225px); top:50%; font-size:20px; text-align:center; width:450px;}
.b1text3 {position:absolute; bottom:50px; text-align:center; font-size:30px; background-color:rgb(166, 38, 206, .5); width:100%;}
@media only screen and (max-width: 720px) {
.b1text1 , .b1text2 , .b1text3 {font-size:12px;}
}

.block2 {box-sizing:border-box; border:20px solid white;}

#event {background-color:rgb(238, 110, 18);}

{% endblock %}



{% block body %}




<div class="block1">
<div class="b1text1"></div>
<div class="b1text2"></div>
<div class="b1text3"></div>
</div>


<div class="block2">

<h1>INTERNATIONAL FASHION FESTIVAL - 2020</h1>

<h3>Welcome to #IFF - 2020</h3>
<strong>THE PREMIER FASHION EVENT FOR LUXURY AND CREATIVE LEADERS </strong>

<h2>CEO'S MESSAGE</h2>

<p>On behalf of the NexRise Events SPC, I extend a very warm welcome to you. Our journey in pursuit of excellence began 2 years ago, with Al Naajh Events Private Limited setting up an event management company in India. It has been a wonderful and enriching experience so far. We cherish our achievements through success of our clients.</p>
<p>This organization stands for its promise to be a master plan in the ﬁeld of event services. We, at NexRise, believe that the next generation needs exceptional knowledge and intellectual creativity to succeed for a challenging tomorrow. We passionately assume the responsibility of giving a nurturing environment to every attendees so as to enable them realize their knowledge and goals in an increasingly competitive world where continuous learning and up-skilling have become essential.</p>
<p>As CEO of #IFF 2020, I invite you to join us on 25 & 26 March 2020, to what will truly be a mega fashion event on the supply side of fashion economics. It will be both a privilege and opportunity for me to host the most exciting and potentially game-changing ideas, innovations, professionals and business leaders from Philippines and the world to create the next epoch of fashion retailing, which I believe will be powered by Consumer Experience.</p>
<p>I hope this overview, our core values, our programmes and our collaborations with the industry will pique your interest. I encourage you to carefully explore the brochure and discover exactly what we can oﬀer you.</p>
<strong><p>KHUBAYB MUHAMMED BIN SAAD - DIRECTOR AND CEO | NEXRISE EVENTS S.P.C | KINGDOM OF BAHRAIN </p></strong>

<h3>ABOUT THE EVENT</h3>
<p>The ﬁrst international world of fashion festival is the most awaited fashion show taking place over 2 days , with an all inclusive destination creating phenomenal fashion arrangements drawing all together. The #IFF is the premier event for fashion designing and creative leaders.</p>
<p>On it’s 2nd anniversary, NexRise Events is oﬀering excitement customized sponsorship packages and exhibiting options. NexRise Events is more enhanced when it comes to opportunities and breakthroughs that awaits everyone for continously experiencing it’s exqusire, seamless and a wide-ranging satisfaction in relation to it’s industry.<p>
<p>Save the date and be amazed. First #IFF will take you to the best target fashion shows and creative ideas you plan to experience.</p>

<h4>IMPORTANT DATE AND TIME</h3>
<ul><li>Date: 25 & 26 MARCH 2020 </li>
<li>Location: Sofitel Philippines Plaza Manila, Manila - Philippines</ul></li></p>

<h4>SHOW HOURS</h3>
<ul><li>Wednesday, 25 March 2020, 10:00 to 18:00</li>
<li>Thursday, 26 March 2020, 10:00 to 20:00 (Followed By Gala Dinner)</ul></li></p>

<h3>EXHIBITORS INCLUDE</h3>
<ul><li>Wedding Organizing Companies</li>
<li>Hotels, Resorts and Wedding Venues</li>
<li>Evening Dresses</li>
<li>Floral Services</li>
<li>Jewelleries</li>
<li>Photography and Video Production</li>
<li>Magazine</li>
<li>Health and Beauty Salons</li>
<li>Fine Clothes</li>
<li>Cakes and Chocolates</li>
<li>Abayas</li>
<li>Communications and Technology</li>
<li>Banks and Financial Services</li>
<li>Gifts and Antiques</li>
<li>Airlines</ul></li></p>

<h3>WHY VISIT</h3>
<p>The #IFF is an event you will treasure; a world class rendezvous showcasing every aspect of fashions, wedding planning, hair and beauty products, photos and videos, catering, gifts and antiques, hotels and much more in a relaxed, friendly setting.</p>
<p>International suppliers of high quality products and solutions come together at a show designed for trade visitors and their customer. #IFF features a designer fashion show and opportunities to experience the latest, innovation and services available.</p>

<h3>#IFF PACKAGE INCLUDES</h3>
<ul><li>#IFF designer package has been especially arranged for elegant designers</li>
<li>Looking to gain maximum exposure in a premium #IFF location</li>
<li>Access to the fashion show area and its facilities</li>
<li>Especially designed 600 sqm catwalk area</li>
<li>Light and sound</li>
<li>Backstage storage area, make-up designer, hair stylist during the show</li>
<li>Logo strategically placed on catwalk for maximum exposure</li>
<li>Designers name and logo on personalized invitation card</li>
<li>Highlighted in fashion show - related marketing material</li>
<li>Video and Photography (DVD and photos will be available for the designers)</li>
<li>2 pages advertising in #IFF catalogue</li>
<li>100 chairs in the fashion show seating area</ul></li></p>

<h3>VISITORS PROFILE</h3>
<ul><li>Public Visitors</li>
<li>Wedding Planners and Organizers</li>
<li>Trade Agents</li>
<li>Brides-to-be, their family and friends</li>
<li>Fashion Designers</li>
<li>Special invitations will be offered to international decision makers and influential players</ul></li></p>

<h3>EXHIBITING BENEFITS</h3>
<ul><li>Promotions of product launch through different social media channels</li>
<li>Facilitate the participation in the #IFF designers fashion show</li>
<li>Sponsorship opportunities to maximize your coverage and brand exposure</li>
<li>Invitations will be sent to key customers and VIPs to attend the event</li>
<li>Invitations will be sent to Exhibitors Prospective Customers</li>
<li>The opportunity to network and sign contract the exhibition</li>
<li>Full media coverage of the event (newspapers, magazines and social media channels)</ul></li></p>

<h3>SPONSORSHIP OPPORTUNITIES</h3>
<p>#IFF SPONSORSHIP PROGRAM THAT IS CAREFULLY PREPARED TO OFFER A RANGE OF OPPORTUNITIES TO HELP YOU COMMUNICATE AND PRESENT TO YOUR TARGETED AUDIENCE.</p>
<p>#IFF SPONSORS ARE EXPOSED TO THE HIGHEST CALIBER INDUSTRY PROFESSIONALS IN ADDITION TO THE LOCAL AND INTERNATIONAL TRADE AND PUBLIC VISITORS. THIS OFFERS YOU THE OPPORTUNITY TO WIN YOUR NEXT CLIENT, STRIKE A DEAL WITH A NEW PARTNER AND BUILD A NEW PARTNERSHIP. OR ALL THREE</p>

<h2>GALA DINNER</h2>
<p>26 March 2020. Starts at 6pm</p>
<p>Sofitel Philippines Plaza Manila - MANILA, PHILIPPINES</p>

<h3>UPCOMING FASHION SHOWS - 2020</h3>
<ul><li>#IFF - KINGDOM OF BAHRAIN</li>
<li>#IFF - INDIA</li>
<li>#IFF - NETHERLANDS</li>
<li>#IFF - RUSSIA</ul></li></p>

<h3>BECOME A PARTNER</h3>
<p>#IFF is a grand fashion show. The program is been embraced with passion and dedication. #IFF excited about the possibilities of what this could mean to you as a partner, ad to your community.</p>
<p>We encourage you to see #IFF as an incubator for new ideas within you company and a way to engage in an authentic dialogue with your local community.</p>

<h3>WHY PARTNER IN #IFF?</h3>
<p>As a #IFF partner, you will have an opportunity to engage in an authentic dialogue with an elusive yet valuable audience: passionate, open minded people in your community. NexRise Events encourages you to join in a collaborative relationship with the #IFF community by supporting our #IFF event.</p>
<p>As a NexRise partner in support of #IFF, you will have an opportunity to test your ideas for the future, and be challenged to positively impact your community and the planet in new ways.</p>
<p>By supporting us and becoming a #IFF partner means you share in our vision of spreading ideas that are intended to change the world for the better.</p>

<h3>#IFF WILL FEATURE</h3>
<ul><li>Indoor displays of promotional stands and banners</li>
<li>National and International delegations</li>
<li>VIP meetings</li>
<li>Outdoor static display of equipments</ul></li></p>

<strong>We would be happy to customize a sponsorship package for you to suit your needs. Please write to us at muhammed@nexrise-events.com and we shall get in touch with you.
Slots are is limited and it will be distributed on a ﬁrst-come, ﬁrst-served basis. We recommend booking your slot as early as possible.</strong>

<h2>Sponsors and Partners.</h2>
<p>coming soon...</p>

<h2>AL NAJAH EVENTS PRIVATE LIMITED - <strong>Where technology and big ideas converge to light the fire of innovation.</h2></strong>
<p>Al Najah Events is a division of leading business events company in India. Al Najah Events specializes in emerging technology and innovation events.</p>
<p>Our events showcase how exponentially accelerating technologies are disrupting industry and society and provide a forum where future-oriented leaders can plot a course of action for their organization.</p>
<p>We are focused on creating environments where technologists, entrepreneurs, developers, designers, marketers, growth hackers, creative minds and industry leaders can share ideas and collaborate in seemingly impossible ways – to explore new forms of innovation - and unlock economic, societal and cultural value As technology and the online world continue to evolve at lightning speed, our events provide access to the people, products and insights required to succeed.</p>

<h3>PARTNERSHIPS</h3>
<p>We believe that design is the intermediary between information and understanding. This is why Al Najah’s events are genuinely different from others in the market. 
Our events are designed to curate genuine networks and foster opportunities at every interaction. What’s more is that we’ll help you to build and develop these relationships.</p>
<p>We know that no one company is the same, and as a consequence no partnership we build is the same. We take the time to learn what makes our partners tick. We’re keen to learn about your goals and targets and discover what’s possible. Spark the future!</p>

<h2>GET IN TOUCH</h2>
<p>If you’d like to become a Sponsor, Exhibitor or a Speaker at #IFF, please contact:</p>
<p>Mr. Muhammed – Global Head - Sponsorship and Events
<p><strong>muhammed@nexrise-events.com</p></strong>
<p>Call us on:</p>
<strong>+91-99456 14517</strong>

</div>


{% endblock %}

