{% extends 'base.html' %}
{% load static %}

{% block style %}
.slidecontainer {background-color:white;}
.carouselcontainer {display:block; overflow:hidden; margin:auto; background-color:white; position:relative;}
.carouselcontainer h2 {color:black; text-align:center;}
.mycarousel {margin-left:0px; transition:all 1s;}
.box {float:left; display:block; width:250px; overflow:hidden;}
.box>img {padding:10px;}
.box>h3 {text-align:center; color:black;}
.carouselcontrol { height: 40px; width: 40px; border: 4px solid #FFFFFF; border-radius: 23px; position: absolute; font-size: 20px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0,0,0,.6); filter: alpha(opacity=50); opacity: .5;text-decoration: none; background-color:#222222; top:calc(50% - 20px);  box-sizing: border-box; cursor:pointer;}
.left {left:-5px;}
.right {right:-5px;}

{% endblock %}



{% block body %}


    <div data-bs-parallax-bg="true" id="carosel" style="height:500px; background-image:url({{ article_link.prlxImg1.url }})"></div>
    <div class="contentcontainer"></div>
    <div></div>
    <div class="contentcontainer"></div>



<div class="container">
<div class="block1">
<h1 class=" text-center">{{ article_link.title | safe }}</h1>
<h2 class=" text-center">{{ article_link.event_title | safe }}</h2>
{{ article_link.body1 | safe }}
</div>
</div>



<div>
    <div class="container">
        <h1 class="text-center">Sponsors</h1>
        <div class="row">
            
			{% for sponsor in sponsors %}
			<div class="col-md-3 text-center"><img class="img-fluid" src="{{ sponsor.sponsor_img.url }}" />
                <p class="text-center">{{ sponsor.sponsor_name }}</p>
            </div>
			{% endfor %}

        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div class="block2 container">
{{ article_link.body2 | safe }}
</div>



	<div data-bs-parallax-bg="true" style="height: 500px;background-image: url({{ article_link.prlxImg2.url }});background-position: center;background-size: cover;"></div>
    <div class="contentcontainer"></div>
    <div class="caroconainter"></div>
    <div class="contentcontainer"></div>



<div class="block3 container">
{{ article_link.body3 | safe }}
</div>




<div class="slidecontainer">
<div id="carouselcontainer" class="carouselcontainer">
<a onclick="prev()" class="left carouselcontrol">‹</a>
<a onclick="next()" class="right carouselcontrol">›</a>
<h2>Speakers</h2>
<div id="mycarousel" class="mycarousel">


{% for speaker in speakers %}
<div class="box">
<img src="{{ speaker.speaker_img.url }}" alt="Image" style="height:250px; width:250px;">
<h3>{{ speaker.speaker_name }}</h3>
</div>
{% endfor %}


</div>
</div>
</div>



<div class="block4 container">
{{ article_link.body4 | safe }}
</div>




<script>
var slideimg = 3;
if (window.matchMedia("(max-width: 758px)").matches) {slideimg = 1;} else {console.log("desktop");};
console.log(slideimg);
var numberofimg = document.getElementById('mycarousel').children.length;
var boxwidth = document.getElementById('mycarousel').firstElementChild.clientWidth;
var caroContainSize = (numberofimg * boxwidth);
document.getElementById('mycarousel').style.width = caroContainSize + "px";

var currentwidth = (boxwidth * slideimg);
document.getElementById('carouselcontainer').style.width = currentwidth + "px";

var totalslides = caroContainSize / currentwidth;
var slidenumber = 0;
var count = 0;

function prev(){
slidenumber--;
if (slidenumber == -1) {slidenumber = totalslides - 1; console.log("reset done -"+ slidenumber);}
console.log("clicked prev - "+ "and width set to "+ slidenumber);
move();
}

function next(){
slidenumber++;
if (slidenumber == totalslides) {slidenumber = 0; console.log("reset done -"+ slidenumber);}
move();
console.log("clicked next - "+ "and width set to "+ slidenumber);
}

function move() {
var setmargin = slidenumber * currentwidth;
document.getElementById("mycarousel").style.marginLeft = -setmargin + "px";
}

</script>

{% endblock %}

