{% extends 'base.html' %}
{% load static %}

{% block style %}

/* CONTENT */

body {font: 300 normal 15px/1.4 Raleway,sans-serif;letter-spacing: .05em;}

.firstblock {background-color:#ee6e12;border:0;margin-top:10px;color:white;}
.center {height:439px; width:100%; background-position:center center;background-repeat:no-repeat;margin:auto;background-size: cover; }
.secondblock {background-color:#626262;color:white;border:0;margin-top:10px;margin-bottom:10px;}


/* stuff */
.content {max-width:92%; margin:auto; min-height:;}
.content>h1 {color:#52575b; font-weight: 500; font-size: 36px;}

/* accordion */
button.accordion {
    background-color: #52575b;
    color: #fff;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
	margin-bottom:10px;
	letter-spacing: .05em;
}
button.accordion.active, button.accordion:hover {
    text-decoration: underline;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.btnhr {width:80px; margin-bottom:50px;}
.btnhr>a {color:white; text-decoration:none;}

#event {background-color:rgb(238, 110, 18);}

{% endblock %}



{% block body %}

<div class="content">
<h1>EVENTS</h1>




{% for article in articles %}


<button class="accordion">
<a>{{ article.title }}</a>
</button>
<div class="panel">
<p>{{ article.date }}</p>
<p>{{ article.heading1 }}</p>
<div class="btnhr button"><a href="{% url 'article_detail' slug=article.slug %}" type="button">click here</a></div>
</div>



{% endfor %}













<!--
<button class="accordion">
<a>Nex-Inventive #Tunisia - 2020</a>
</button>
<div class="panel">
<p>26 APRIL, 2020 | TUNIS GRAND HOTEL</p>
<p>TUNIS - TUNISIA</p>
<div class="btnhr button"><a href="ce19.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>#IFF - 2020</a>
</button>
<div class="panel">
<p>25 & 26 MARCH, 2020 | SOFITEL PHILIPPINES PLAZA MANILA</p>
<p>Manila - Philippines</p>
<div class="btnhr button"><a href="ce18.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>NEX-INVENTIVE GLOBAL</a>
</button>
<div class="panel">
<div class="btnhr button"><a href="ce17.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>EDU-LEARN'19 - PUNE</a>
</button>
<div class="panel">
<p>August 02, 2019 | Radisson Blu Hotel</p>
<p>Pune - India</p>
<div class="btnhr button"><a href="ce15.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>The Education Fair - Chennai 2019</a>
</button>
<div class="panel">
<p>July 18 & 19, 2019 | Hilton Chennai</p>
<p>Chennai - India</p>
<div class="btnhr button"><a href="ce14.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>National Conference on Educational Technology - Bangalore 2019</a>
</button>
<div class="panel">
<p>Postponed</p>
<p>Bangalore - India</p>
<div class="btnhr button"><a href="ce13.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>KINGDOM EDUCATIONAL SUMMIT 2019</a>
</button>
<div class="panel">
<p>April 04, 2019 | Gulf Hotel</p>
<p>Kingdom of Bahrain</p>
<div class="btnhr button"><a href="ce10.html" type="button">click here</a></div>
</div>

<button class="accordion">
<a>Augmented and Virtual Reality - Dubai 2019</a>
</button>
<div class="panel">
<p>April 17 & 18, 2019 | The Ritz Carlton</p>
<p>Dubai - United Arab Emirates</p>
<div class="btnhr button"><a href="ce8.html" type="button">click here</a></div>
</div>

<button class="accordion">
<a>TEACHING AND LEARNING CONCLAVE 2019</a>
</button>
<div class="panel">
<p>February 14-15, 2019 | Radisson Blu Hotel</p>
<p>Addis Ababa - Ethiopia</p>
<div class="btnhr button"><a href="ce6.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>Learning and Development Conclave 2018</a>
</button>
<div class="panel">
<p>The Important knowledge based Interaction Event</p>
<p>Explore the future of workplace, leadership and knowledge</p>
<p>Hilton Chennai | Chennai</p>
<p>October 26, 2018</p>
<div class="btnhr button"><a href="ce4.html" type="button">click here</a></div>
</div>


<button class="accordion">
<a>Global Education Conclave 2019 (Switzerland)</a>
</button>
<div class="panel">
<p>Switzerland</p>
<p>date</p>
<div class="btnhr button"><a href="eduswitzerland2018.html" type="button">click here</a></div>
</div>

<button class="accordion">
<a>Upcoming Events:</a>
</button>
<div class="panel">

	<button class="accordion">
	<a>International HR Tech Conference - 2019 (Malaysia)</a>
	</button>
	<div class="panel">
	<p>Kuala Lumpur - Malaysia</p>
	<p>12th April 2018</p>
	<div class="btnhr button"><a href="malaysia2018.html" type="button">click here</a></div>
	</div>

	<button class="accordion">
	<a>National Human Resources Conference - 2019 (Bahrain)</a>
	</button>
	<div class="panel">
	<p>Ramee Grand Hotel - Kingdom of Bahrain</p>
	<p>22nd February 2018</p>
	<div class="btnhr button"><a href="hr.html" type="button">click here</a></div>
	</div>

	<button class="accordion">
	<a>Oman Human Resource Vision - 2019 (Oman)</a>
	</button>
	<div class="panel">
	<p>Sultanate of Oman</p>
	<p>15 February 2018</p>
	<div class="btnhr button"><a href="oman.html" type="button">click here</a></div>
	</div>
	
	<button class="accordion">
	<a>National Human Resource Summit - 2019 (Abu Dhabi)</a>
	</button>
	<div class="panel">
	<p>Abu Dhabi - United Arab Emirates</p>
	<p>7th March 2018</p>
	<div class="btnhr button"><a href="uae2018.html" type="button">click here</a></div>
	</div>

	<li>Training and Development Program - Kingdom of Bahrain 2019</li>
	<li>Water and Power Summit – Saudi Arabia 2019</li>
	<li>Health, Safety and Environment Summit – Kingdom of Bahrain 2020</li>
	<li>Science, Health and Medical Conference – Sultanate of Oman 2020</li>
	<li>Travel and Tourism Summit – Kingdom of Bahrain 2020</li>
	<li>Teaching, Education and Learning Conference – Sultanate of Oman 2020</li>
</div>
-->

</div>


<script>

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}

</script>

{% endblock %}

