body {border:; width:; height:;}

/* hide css */
@media screen and (max-width:768px){
.xs-hidden {display:none;width:0px; height:0px;border:0px;}
}
@media screen and (min-width:768px) and (max-width:992px){
.sm-hidden {display:none;width:0px; height:0px;border:0px;}
}
@media screen and (min-width:992px) and (max-width:1200px){
.lg-hidden {display:none;width:0px; height:0px;border:0px;}
}
@media screen and (min-width:1200px){
.xl-hidden {display:none;width:0px; height:0px;border:0px;}
}

/* visible css */
.xs-visible{display:none;}
.sm-visible{display:none;}
.lg-visible{display:none;}
.xl-visible{display:none;}
@media screen and (max-width:768px){.xs-visible {visibility: visible;display:block;}}
@media screen and (min-width:768px) and (max-width:992px){.sm-visible {visibility: visible;display:block;}}
@media screen and (min-width:992px) and (max-width:1200px){.lg-visible {visibility: visible;display:block;}}
@media screen and (min-width:1200px){.xl-visible {visibility: visible;display:block;}}

.container {width:100%;overflow:hidden;border:0px solid;}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2,
.col-sm-1 {box-sizing:border-box;padding:10px;}

@media screen and (min-width:768px){
.col-sm-12 {width:100%;float:left;}
.col-sm-11 {width:91.62%;float:left;}
.col-sm-10 {width:83.29%;float:left;}
.col-sm-9 {width:74.96%;float:left;}
.col-sm-8 {width:66.63%;float:left;}
.col-sm-7 {width:58.30%;float:left;}
.col-sm-6 {width:49.99%;float:left;}
.col-sm-5 {width:41.66%;float:left;}
.col-sm-4 {width:33.33%;float:left;}
.col-sm-3 {width:24.99%;float:left;}
.col-sm-2 {width:16.66%;float:left;}
.col-sm-1 {width:8.33%;float:left;}
}
