{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NexRise Events</title>
	<link rel="icon" href="{% static "events/img/fav-icon.png" %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static "events/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{% static "events/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "events/fonts/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "events/css/Article-List.css" %}">
    <link rel="stylesheet" href="{% static "events/css/Contact-Form-Clean.css" %}">
    <link rel="stylesheet" href="{% static "events/css/Footer-Dark.css" %}">
    <link rel="stylesheet" href="{% static "events/css/Map-Clean.css" %}">
    <link rel="stylesheet" href="{% static "events/css/styles.css" %}">

<style>

{% block style %}


{% endblock %}

</style>

</head>








<body>
 

    <header>
        <div class="d-flex" style="height: 100px;"><img src="{% static "events/img/logoeng.png" %}" style="height: 100px;">
            <div class="d-none d-md-flex" style="margin-left: auto;">
                <div>
                    <p style="margin-bottom: -10px;margin-top: 16px;font-size: 22px;">Contact Us</p>
                    <p style="margin-right: 26px;color: #ee6e12;font-size: 26px;"><strong>+91-9945614517</strong><br></p>
                </div><img src="{% static "events/img/logoarb.png" %}" style="height: 100px;"></div>
        </div>
    </header>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" style="margin: 0px auto;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url "index" %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url "about" %}">About Us</a></li>
                    
					<li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="{% url "events" %}">Events</a>
                        <div class="dropdown-menu" role="menu">
							<a class="dropdown-item" role="presentation" href="{% url "events" %}">All Events</a>
						{% for article in article_list %}
						
							<a class="dropdown-item" role="presentation" href="{% url 'article_detail' slug=article.slug %}">{{ article.title }}</a>
						
						{% endfor %}
												
						</div>
                    </li>
                    
					<li class="nav-item" role="presentation"><a class="nav-link" href="{% url "contacts" %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>




{% block body %}

{% endblock %}




    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Event Managment</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="{% url "index" %}">Home</a></li>
                            <li><a href="{% url "about" %}">About Us</a></li>
                            <li><a href="{% url "events" %}">Events</a></li>
                            <li><a href="{% url "contacts" %}">Contant Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Nexrise Events</h3>
                        <p>Flat:91, Building:205, Road:2803,<br>Block:42, Al Seef.<br>Kingdom of Bahrain,<br>Mobile:+91-9739545678<br>Email: info@nexrise-events.com<br></p>
                    </div>
                    <div class="col item social"><a class="name"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="www.linkedin.com/company/13428478/"><i class="icon ion-social-linkedin-outline ion-social-linkedin"></i></a></div>
                </div>
                <p class="copyright">Nexrise Events © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static "events/js/jquery.min.js" %}"></script>
    <script src="{% static "events/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "events/js/bs-init.js" %}"></script>






</body>
</html>
