{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>NexRise Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="{% static "events/purecss.css" %}">
 <link rel="stylesheet" href="{% static "events/style.css" %}">
  <link rel="icon" href="{% static "img/fav-icon.png" %}" type="image/gif" sizes="16x16">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>	

<style>

{% block style %}

{% endblock %}

</style>
</head>
<body>
 


<header id="headercontent">
<img src='{% static "img/logoeng.png" %}' height='80'>

<img class='xs-hidden logoarb' src='{% static "img/logoarb.png" %}' height='80' style='float:right;'>

<div class='contactheader xs-hidden'>

<span>Contact Us</span><br>

<span class='contactnumber'>+91-9945614517</span>

</div>

<div class='menuholder xs-visible'>

<div class='menu' id='menubars'>

<div class='linebar'></div>
<div class='linebar'></div>
<div class='linebar'></div>

</div>

</div>
</header>

<div id="menutoggle" class="nav hide">
<ul>

<li>
<a id='index' href='{% url "index" %}'>Home</a>
</li>

<li>
<a  id='about' href='{% url "about" %}'>About-us</a>
</li>

<li class='dropdown'>
<div id='toggle' class='xs-visible' style='float:right;'><img id='arrowtoggle' class='arrowimg1' src='{% static "img/arrow.png" %}'></div>
<a id='event' href='{% url "events" %}'>Events</a>
<div id='togglee' class='a dropdown-content'>




{% for article in articles %}

<a href="{% url 'article_detail' slug=article.slug %}">{{ article.title }}</a>

{% endfor %}




</div>
</li>

<li>
<a id='contact' href='{% url "contacts" %}'>Contact</a>
</li>

</ul>
</div>




{% block body %}

{% endblock %}




<div class="container bottomcontent" id="footercontent">
<div class='col-sm-3 xs-hidden'>

<img src='{% static "img/f.jpg" %}' class='sm' href='https://www.facebook.com/NexRise-Events-SPC-1437870999658149/'>

<img src='{% static "img/in.jpg" %}' class='sm' href='https://www.linkedin.com/company/13428478/'>

</div>

<div class='col-sm-6' style=''><br>

<div class='section_button'>

<a class='button' href='{% url "index" %}' >home</a>

<a class='button' href='{% url "about" %}' >about</a>

<a class='button' href='{% url "events" %}' >events</a>

<a class='button' href='{% url "contacts" %}' >contact</a>

</div><br>

<img class='logoengfooter' src='{% static "img/logoeng.png" %}'>

<img class='logoarbfooter' src='{% static "img/logoarb.png" %}'>

</div>

<div class='col-sm-3' style='color:white;'>Flat:91, Building:205, Road:2803,<br>Block:42, Al Seef.<br>Kingdom of Bahrain, <br>Mobile:+91-9739545678<br>Email: info@nexrise-events.com</div>

<div class='col-sm-3 xs-visible'><img src='{% static "img/f.jpg" %}' class='sm' href='https://www.facebook.com/NexRise-Events-SPC-1437870999658149/'>

<img src='{% static "img/in.jpg" %}' class='sm' href='https://www.linkedin.com/company/13428478/'>

</div>


<div class='bottomfooter'>
<ul>
<li>© Copyright&nbsp;&nbsp;|&nbsp;&nbsp;</li>
<li>Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;</li>
<li>
<a style='color:#b3afaf;'>Web Design by musab</a>
</li>
</ul>
</div>
</div>







<script type="text/javascript" src="{% static "events/myscripts.js" %}"></script>
</body>
</html>
